DJANGO_SETTINGS_MODULE=psql_jupyter.settings.local
CELERY_BROKER_URL=amqp://broker:5672//
# Please choose postgres or sqlite as your DB:
# DATABASE_URL=postgres://psql_jupyter:password@db:5432/psql_jupyter
# DATABASE_URL=sqlite:///backend/db.sqlite3
